<!DOCTYPE html>
<html>
<body>
<h1>Confirmation de votre compte</h1>

<p>Salut {{ user.firstname }},</p>

<p>Merci de votre inscription. Veuillez confirmer votre compte en cliquant sur le lien ci-dessous:</p>

<a href="{{ signedUrl }}">Confirmer mon compte</a>

<p>Ce lien expirera sous 24h.</p>
</body>
</html>
