.container {
    display: flex;
    height: 100vh; /* hauteur de l'écran */
    width: 100%;   /* largeur totale */
}

/* Section formulaire */
.form-section {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: #f3f4f6;
}

/* Section image */
.image-section {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
}

.image-section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container-form{
    width: 100%;
}