@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-content{
  padding-top: 40px;
}

.button-primary-color{
  background-color: #ff8d50 !important;
}

.button-primary-color:hover {
  background-color: #ff7040;
}

.button-primary-color:focus {
  background-color: #ff7040;
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 140, 80, 0.5);
}

.navbar-item-hover:hover{
  background-color: #ff8d5045 !important;
}

.modal-backdrop {
  display: none !important;
}